#welcome{
    background-image: url(netflix\ background\ image.jpg);
    margin: 0px;
    padding-bottom: 100px;
    border-bottom: 8px solid #222;
}
body{
    background-color: black;
}
 
 #signin{
    font-family: sans-serif;
    font-weight: bold;
    float: right;
    margin-top: 2%;
    margin-right: 3%;
    background-color: #E50914;
    color: white;
    width: 90px;
    height: 40px;
    border: solid #E50914;
}
img{
    margin-left: 3%;
}
main{
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    color: white;
    font-size: 23px;
} 
p{
    font-size: 18px;
}
div{
    margin: 15px 50px;
}
.searchbox{
    padding: 5px;
    width: 450px; 
    height: 55px; 
    font-size: 15px;
}

#get{
    padding: 13px 60px;
    padding-bottom: 21px;
    background-color: #E50914;
    color: white;
    border: solid #E50914;
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.firstframepic{
    float: right;
    margin-right: 5%;
}
#firstStep{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 5%;
    border-bottom: 8px solid #222;
    padding-bottom: 380px;
    margin-left: 0%;
    margin-right: 0%;
}
#firstText{
    float: left;
    margin-left: 8%;
}
#watch{
    font-weight: bold;
    font-size: 25px;
}
.tryitnow{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    font-size: 20px;
}
#secondText{
    color: white;
    float: right;
    margin-right: 8%;
}
#secondFramePic{
    float: left;
   margin-left: 8%;
}
#questionpanel{
    color: white;
    background-color: #303030;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.1px 30px;
    margin-left: 18%;
    margin-right: 18%;
}
#question{
    font-size: 25px;
}
span{
    float: right;
    font-size: 25px;

}
#faq{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    margin-top: 5%;
    margin-bottom: 4%;
}
#bottomsearch{
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#faqdiv{
    border-bottom: 8px solid #222;
    margin-left: 0%;
    margin-right: 0%;
}
footer{
    color: #a6a6a6;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
#items{
    float: left;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .logo{
        width: 80px;
        margin-left: 10%;
    }
    #signin{
        margin-right: 10%;
        height: 20px;
        width: 50px;
        font-weight: normal;
        font-size: 10px;
        margin-top: 5%;
    }
    h1{
        font-size: 20px;
    }
    h4{
        font-size: 10px;
    }
    .searchbox{
        width: auto;
        height: 25px;
    }
    #get{
        width: 150px;
        height: 25px;
        font-size: 15px;
        padding: 20px;
        padding-top: 5px;
    }
    .action{
        font-size: 7px;
    }
    #welcome{
        background-size: 500px;
        height: 200px;
    }
    #firstText{
        font-size: 2px;
        margin-left: 22%;
    }
    #watch{
        font-size: 10px;
        text-align: center;
        margin-right: 15%;
    }
    .firstframepic{
        width: auto ;
        max-width: 100% ;
        height: auto ;
        transform: scale(0.7);
        margin: auto;
    }
    .tryitnow{
        display: none;
    }
    #secondFramePic{
        width: auto ;
        max-width: 100% ;
        height: auto ;
        transform: scale(0.5);
        margin-left: -5%;
        margin-top: -20%;
    }
    #secondText{
        margin-left: 2%;
        font-size: 10px;
        text-align: center;
        transform: scale(0.8);
    }
    #thirdframepic{
        transform: scale(0.6);
        margin-left: -20%;
        margin-top: -20%;
    }
    #faq{
        font-size: 30px;
    }
    #question{
        font-size: 15px;
    }
    #questionpanel{
        padding: 0.1px 30px;
        width: 300px;
        margin-left: -5%;
    }
    .change{
        margin-left: -20%;
    }
    #items{
        display: grid;
    }
}